TOKEN_SECRET= "abc123"
STATUS="OPEN"
label_ids = "label1"
DESIRED_CONDITIONS= "author: "abc"
estimate_value = 5
metadata_value = "example_metadata"  


issue_id = "c123" 
assignee = "pytest"
milestone = "123v"
labels = ["label1", "label2"]

ISSUE_NUMBER=2
OWNER = 'Pytest2'
'REPO_NAME' ="newWork"


ISSUE_STATE= "CLOSED"
ESTIMATE= "5hrs"
METADATA="some_metadata_value"
project_id = 1

destination_owner = "name"
destination_name = "board"

slack_token = "abcdef123"
slack_channel = "qwe"
secret_key = "abcdf1"